<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img style="height: 150%" class="smaller" alt="Brand" src="assets/upgrid_oranz.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
<ng-container *ngIf="rootLinks">
  <p-selectButton [options]="rootLinks" [(ngModel)]="selectedLink" (onChange)="getAllItems($event)"></p-selectButton>
</ng-container>
<div>
  <br><br>
  <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"
          [disabled]="activeTable == 'doorLogs'"></button>
  <br><br>
</div>
<div>
  <ng-container>

    <p-dataTable [value]="rows" selectionMode="single" [(selection)]="selectedItem" [contextMenu]="cm" [rows]="10"
                 [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20, 30, 40, 50 , 60, 100, 200, 300]">
      <p-column [sortable]="true" [filter]="true" *ngIf="columns.includes('personFirstName')" field="personFirstName"
                header="First name"></p-column>
      <p-column [sortable]="true" [filter]="true" *ngIf="columns.includes('firstName')" field="firstName"
                header="First name"></p-column>
      <p-column [sortable]="true" [filter]="true" *ngIf="columns.includes('personLastName')" field="personLastName"
                header="Last name"></p-column>
      <p-column [sortable]="true" [filter]="true" *ngIf="columns.includes('lastName')" field="lastName"
                header="Last name"></p-column>
      <p-column [sortable]="true" *ngIf="columns.includes('uid')" field="uid" header="Uid" [filter]="true"
      ></p-column>
      <p-column [sortable]="true" *ngIf="columns.includes('name')" field="name" header="Name" [filter]="true"
      ></p-column>
      <p-column [sortable]="true" *ngIf="columns.includes('idCode')" field="idCode" header="ID Code" [filter]="true"
      ></p-column>
      <p-column [sortable]="true" *ngIf="columns.includes('document')" field="document" header="Document number"
                [filter]="true"
      ></p-column>
      <p-column [sortable]="true" *ngIf="columns.includes('door')" field="door" header="Door"
                [filter]="true"
      ></p-column>
      <p-column
        *ngIf="columns.includes('message')"
        [sortable]="true"
        field="message" header="Message" [filter]="true">
      </p-column>
      <p-column [sortable]="true" *ngIf="columns.includes('level')" field="level" header="Level"
                [filter]="true"
      ></p-column>
      <p-column [sortable]="true" *ngIf="columns.includes('active')" field="active" header="Active">
        <ng-template let-row="rowData" pTemplate="body">
          <p-checkbox binary="true" disabled [ngModel]="row.active"></p-checkbox>
        </ng-template>
      </p-column>
      <p-column [sortable]="true" *ngIf="columns.includes('createDate')" field="createDate" header="Create date"
                [filter]="true"
      ></p-column>
      <p-column [sortable]="true" *ngIf="columns.includes('lastModified')" field="lastModified" header="Last modified"
                [filter]="true"
      ></p-column>
      <p-column [sortable]="true" *ngIf="columns.includes('eventTime')" field="eventTime" header="Event time"
                [filter]="true"
      ></p-column>


      <p-column field="edit" *ngIf="activeTable != 'doorLogs'">
        <ng-template let-row="rowData" pTemplate="body">
          <ng-container>
            <button pButton type="button" (click)="onEditItem(row)" icon="fa-edit"></button>
          </ng-container>
        </ng-template>
      </p-column>


    </p-dataTable>
  </ng-container>


  <p-contextMenu #cm [model]="contextMenuItems">
  </p-contextMenu>


  <p-dialog header="{{schema?.title}} details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
            [modal]="true">


    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="schema && displayDialog && activeEdit">
      <ng-container *ngFor="let field of schemaArray">
        <ng-container *ngIf="field.name != 'doorLog'">
          <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label [for]="field.name">{{field.title}}</label></div>
            <div class="ui-grid-col-8">
              <ng-container *ngIf="!field.hasOwnProperty('format') && field.name != 'active'">
                <input pInputText [id]="field.name" [(ngModel)]="activeEdit[field.name]"/>
              </ng-container>
              <ng-container *ngIf="field.name == 'active'">
                <p-checkbox [id]="field.name" [(ngModel)]="activeEdit[field.name]" binary="true"></p-checkbox>
              </ng-container>
              <ng-container *ngIf="field.hasOwnProperty('format') && field.name != 'person'">
                <p-autoComplete [id]="field.name" [(ngModel)]="activeEdit[field.name]" field="name" [multiple]="true"
                                [suggestions]="searchResults[field.name]"
                                (completeMethod)="searchByName(field.name, $event)"></p-autoComplete>
              </ng-container>
              <ng-container *ngIf="field.name == 'person'">
                <p-autoComplete [id]="field.name" [(ngModel)]="activeEdit[field.name]" field="name" [multiple]="false"
                                [suggestions]="searchResults['persons']"
                                (completeMethod)="searchByName('persons', $event)"></p-autoComplete>
              </ng-container>
            </div>
          </div>

        </ng-container>
      </ng-container>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
      </div>
    </p-footer>
  </p-dialog>


</div>
</div>
