<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img style="height: 150%" class="smaller" alt="Brand" src="assets/upgrid_oranz.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/login">Log in</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <br>
  <br>
  <div class="small-container well">

    <form class="form-signin" (ngSubmit)="onSubmit()" novalidate>
      <h3 class="form-signin-heading"></h3>

      <div>
        <input type="text" name="user" id="userName" class="form-control" placeholder="Username"
               [(ngModel)]="userName" [ngModelOptions]="{standalone: true}"
               required>
      </div>
      <br/>
      <div>
        <input type="password" name="pass" id="pswd" class="form-control" placeholder="Password"
               [(ngModel)]="passWord" [ngModelOptions]="{standalone: true}"
        >
        <br/>
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login!</button>
    </form>
    <br>
  </div>
</div>
